body
{
   background: #FFFFFF ;
   background-image: url('./background.jpg') ;
   background-repeat: no-repeat ;
   background-position: top left ;
   background-color: FFFFFF ;
   background-attachment: fixed ;
}

.comment { color: #008000; font-style: italic; }
.pre { color: #000099; }
.string { color: #DF0101; }
.char { color: #009900; }
.float { color: #996600; }
.int { color: #999900; }
.bool { color: #000000; font-weight: bold; }
.type { color: #FF6633; }
.flow { color: #FF0000; }
.keyword { color: #990000; }
.operator { color: #663300; font-weight: bold; }
.operator { color: #663300; font-weight: bold; }
